{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link
  type="text/css"
  rel="stylesheet" 
  href="{% static 'css/corgis/corgi-detail.css' %}">
  <script defer src="{% static 'js/corgi-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="cat-details">
    <h1>{{ corgi.name }}</h1>
    {% if corgi.age > 0 %}
      <h2>A {{ corgi.age }} year old {{ corgi.type }}</h2>
    {% else %}
      <h2>A {{ corgi.type }} puppy.</h2>
    {% endif %}
    <p>{{ corgi.description }}</p>
    <div class="cat-actions">
      <a href="{% url 'corgi-update' corgi.id %}" class="btn warm">Edit</a>
      <a href="{% url 'corgi-delete' corgi.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/cat-cone.svg' %}" 
        alt="An ice cream cone cat"
      />
      <img 
        src="{% static 'images/cat-onigiri.svg' %}"
        alt="A cat as onigiri"
      />
      <img 
        src="{% static 'images/kitty-kabob.svg' %}" 
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form 
      action="{% url 'add-feeding' corgi.id %}"
      method="post"
      class="subsection-content"    
    >
      {% if corgi.fed_for_today %}
        <p class="fed">{{corgi.name}} has already been fed today.</p>
      {% else %}
        <p class="unfed">{{corgi.name}} might be hungry</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>

    <h3>Feedings History</h3>
    {% if corgi.feeding_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in corgi.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>{{corgi.name}} has never been fed 😔</p>
      </div>
    {% endif %}
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>
      <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
      <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
      <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
    </div>
    <h3>{{ corgi.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if corgi.toys.count %}
        {% for toy in corgi.toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toy-detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{corgi.name}} doesn't have any toys 😞</p>
      {% endif %}
    </div>
    <h3>Available Toys</h3>
    <div class="subsection-content">
      {% if toys.count %}
        {% for toy in toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toy-detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <form action="{% url 'assoc-toy' corgi.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit"class="btn submit">Give Toy</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">There are no more toys available 😞</p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}