{% extends 'base.html' %}
{% load static %}

{% block head %}
<link
  type="text/css"
  rel="stylesheet" 
  href="{% static 'css/corgis/corgi-detail.css' %}">
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="cat-details">
    <h1>{{ corgi.name }}</h1>
    {% if corgi.age > 0 %}
      <h2>A {{ corgi.age }} year old {{ corgi.type }}</h2>
    {% else %}
      <h2>A {{ corgi.type }} puppy.</h2>
    {% endif %}
    <p>{{ corgi.description }}</p>
    <div class="cat-actions">
      <a href="{% url 'corgi-update' corgi.id %}" class="btn warm">Edit</a>
      <a href="{% url 'corgi-delete' corgi.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/cat-cone.svg' %}" 
        alt="An ice cream cone cat"
      />
      <img 
        src="{% static 'images/cat-onigiri.svg' %}"
        alt="A cat as onigiri"
      />
      <img 
        src="{% static 'images/kitty-kabob.svg' %}" 
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form 
      action=""
      method="post"
      class="subsection-content"    
    >
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>

    <h3>Feedings History</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in corgi.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}