{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  type="text/css"
  rel="stylesheet" 
  href="{% static 'css/corgis/corgi-index.css' %}">
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Corgi List</h1>
  <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" />
</section>

<section class="card-container">
  {% for corgi in corgis %}
    <div class="card">
      <a href="{% url 'corgi-detail' corgi.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/sk8r-boi-cat.svg' %}" 
              alt="A skater boy cat"
            >
          </div>
          <h2 class="cardtitle">{{ corgi.name }}</h2>
          {% if corgi.age > 0 %}
            <p> A {{ corgi.age }} year old {{corgi.type}}</p>
          {% else %}
            <p> A {{corgi.type}} puppy</p>
          {% endif %}
          <p><small>{{corgi.description}}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}